{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px;">
      <h1 class="text-white display-3 mb-4">Contacto</h1>
  </div>
</div>
<!-- Header End -->

<!-- Services Start -->
<div class="container-fluid service py-5 bg-light">
  <div class="container py-5">
    <div class="text-center mx-auto pb-5" style="max-width: 800px">
      <h5 class="text-uppercase text-primary">CONTRIBUÍ CON NOSOTROS</h5>
      <h1 class="mb-0">¿Como podés contruibir con Caritas Felices?</h1>
    </div>
    <div class="row g-4">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center fs-5 mb-4">
          <p>Podes contactarnos a traves de nuestras redes sociales o nuestro teléfono, o acercandoté a nuestro espacio con un visita agendada.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->

<!-- Contact Start -->
<div class="container-fluid bg-light py-5">
  <div class="container py-5">
    <div class="contact p-5">
      <div class="row g-4">
        <div class="col-xl-12">
          <div>
            <div class="row g-4">
              <div class="col-lg-4">
                <div class="bg-white p-4" style="height: 180px;">
                  <i class="fas fa-map-marker-alt fa-2x text-primary mb-2"></i>
                  <h4>Dirección</h4>
                  <a class="mb-0" href="https://maps.app.goo.gl/6vcGLpRdGe3xyEh96">Juarez Celman 842, Villa María, Córdoba</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="bg-white p-4" style="height: 180px;">
                  <i class="fab fa-facebook-f fa-2x text-primary mb-2"></i>
                  <h4>Facebook</h4>
                  <a class="mb-0" href="https://www.facebook.com/marisa.sanchez.5872">Marisa Sanchez</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="bg-white p-4" style="height: 180px;">
                  <i class="fa fa-phone-alt fa-2x text-primary mb-2"></i>
                  <h4>Teléfono</h4>
                  <a class="mb-0" href="tel:3534114971">353 411 4971</a>
                </div>
              </div>
              <div class="col-lg-12">
                <iframe
                  class="w-100"
                  style="height: 412px; margin-bottom: -6px"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.7429910122864!2d-63.25767539999999!3d-32.3992505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc432ec285fbef%3A0xdd809e180a0ab356!2sJu%C3%A1rez%20Celman%20842%2C%20X5901%20Villa%20Mar%C3%ADa%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1732649924074!5m2!1ses!2sar"
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}